<mat-card>
  <mat-card-header>
    <mat-card-title>RCP216 - Associations</mat-card-title>
    <mat-card-subtitle>Visualisation d'informations</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-tab-group height="500px" width="100%">
      <mat-tab label="Words">
        <svg #container4Words style="background-color:white" height="1000px" width="100%">
          <g *ngFor="let cloud of clouds">
            <svg WordCloudRow [words]="cloud.words" [attr.x]="cloud.x" [attr.y]="cloud.y" [attr.height]="cloud.height"
              [attr.width]="cloud.width">
              <rect x="0px" y="0px" [attr.height]="cloud.height" [attr.width]="cloud.width" [attr.opacity]="cloud.opacity" [attr.fill]="cloud.color"
                stroke="yellow" stroke-width="4">
                <title>{{cloud.legend}} - Membres : {{cloud.size}}</title>
              </rect>
            </svg>            
            <text [attr.x]="cloud.x + 5" [attr.y]="cloud.y + 20" fill="yellow" font-weight="bold" font-size="20">{{cloud.legend}}</text>
          </g>
        </svg>
        <svg style="background-color:white" height="1000px" width="100%">
            <g *ngFor="let cloud of clouds">
              <svg Partition [partitions]="cloud.partitions" WordCloudRow [words]="cloud.words"  [attr.x]="cloud.x" [attr.y]="cloud.y" [attr.height]="cloud.height"
                [attr.width]="cloud.width">  
                <rect x="0px" y="0px" [attr.height]="cloud.height" [attr.width]="cloud.width"  fill="black"
                stroke="yellow" stroke-width="4">
                
              </rect>  

              </svg>
              
              <text [attr.x]="cloud.x + 5" [attr.y]="cloud.y + 20" fill="red" font-size="20">{{cloud.legend}}</text>
            </g>
          </svg>        
        <button (click)="onClickMe()" mat-button>
          <mat-icon>autorenew</mat-icon>REFRESH</button>
      </mat-tab>
      <mat-tab label="Data">
        <mat-form-field style="display: block">
          <textarea matInput matTextareaAutosize [(ngModel)]="rawData"></textarea>
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card>